.card2 :hover{
    transform: scale(1.10);
}
ul li{
    list-style: none;
}
.frame1{
    position: relative;
    top: 80px;
}
.frame2 select{
    border: none;
}
.frame2{
    position: relative;
    top: 90px;
}
.frame3{
    position: relative;
    top: 100px;
}
.frame3 a{
    color: bisque;
}
.carousel{
    position: relative;
    top: 120px;
}
.frame4 {
    position: relative;
    top: 150px;
}
.frame5{
    position: relative;
    top: 200px;
}
.frame6{
    position: relative;
    top: 200px;
}
.frame7{
    position: relative;
    top: 150px;
}
.frame8{
    position: relative;
    top: 350px;
    background-color: antiquewhite; 
    height: 450px;
}
.logo:hover{
    transform: scale(1.10);
} 
  .stroke :hover {
    color: #f61a1a;
  }
 .frame9{
    position: relative;
    top: 480px;
 }
 .frame10{
    position: relative;
    top: 450px;
 }
 .frame11,.card{
    position: relative;
    top: 300px;
    border: none;
 }
 .frame11 h4:hover{
    color: #f61a1a;
 }
 .frame11,h2{
    position: relative;
    top: 300px;    
 }
 .frame12{
    position: relative;
    top: 700px;
    display: flex;
    justify-content: center;
    text-align: center;
 }
 .frame13{
    position: relative;
    top: 800px;
 }
ul li{
    list-style: none;    
}
 input[type="email"]{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: none;
}