*{
    margin: 0;
}

ul li {
    list-style: none;
}

.nav-container{
    background-color: #859034;
    display: flex;
    justify-content: space-evenly;
}

.left-side li, .right-side li{
    display:inline-block;
}

.left-side li a, .right-side li a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 80px;
    font-size: 20px;
    color: white;
    padding: 20px;

}
.center-side h4,h1{
    color: white;
    font-size: 40px;
    text-align: center;
}
.image{
position: relative;
width: 100%;
height: 100vh;
margin-top:-4px; 
}
.image img{
    width: 100%;
    height: 700px;  
}
.text{
    position: relative;
    bottom:400px;
    font-size: 40px;
    color: white;
    left:100px;
}
.text1{
    position: relative;
    bottom: 590px;
    color:white;
    left:170px;
}
.text2{
    position: relative;
    bottom: 350px;
    color: white;
    width:400px;
    height: 50px;
    left: 50px; 
}
.button{
    position: relative;
    bottom: 280px;
    left:15%;
}


.box{
    position: relative;
    width:250px;
    height: 150px;
    
    left: 100px;
    bottom: 180px;
    
    
}
.box img{
    height: 145px;
}
.box1{
    position: relative;
    width:250px;
    height: 150px;
    left: 450px;
    bottom: 330px;
    
}
.box1 img{
    height: 145px;
}
.box2{
    position: relative;
    width:250px;
    height: 150px;
    left:780px;
    bottom: 480px;
     
}
.box2 img{
    height: 145px;
}
.box3{
    position: relative;
    width:250px;
    height: 150px;
    left:78%;
    bottom: 628px; 
    
}
.box3 img{
    height: 145px;
}


.frame1{
    width:250px;
    height: 90px;
    background-color: #859034;
    position: relative;
    bottom: 570px;
    left: 650px;
    text-align: center; 
}
.frame1 div{
    font-size: 28px;
    color: white;
}

.pg{
    position: relative;
    width:250px;
    height: 250px;
    left: 100px;
    bottom: 500px;  
}
.pg img{
    position: relative;
    height: 250px;
}
.pg1{
    position: relative;
    width:250px;
    height: 250px;
    left: 450px;
    bottom: 101%;
}
.pg1 img{
    position: relative;
    height: 250px;
}

.pg2{
    position: relative;
    width:250px;
    height: 250px;
    left:780px;
    bottom: 135%;  
}

.pg2 img{
    position: relative;
    height: 250px;
}

.pg3{
    position: relative;
    width:250px;
    height: 250px;
    left:78%;
    bottom: 169%;    
}

.pg3 img{
    position: relative;
    height: 250px;
}


.frame2{
    width:250px;
    height: 90px;
    background-color:  #859034;
    position: relative;
    bottom: 150%;
    left: 650px;
    text-align: center; 
}
.frame2 div{
    font-size: 28px;
    color: white;
}

.pb{
    position: relative;
    width:250px;
    height: 250px;
    left: 100px;
    bottom: 136%;
    
    
}

.pb img{
    position: relative;
    height: 250px;
}
.pb1{
    position: relative;
    width:250px;
    height: 250px;
    left: 450px;
    bottom: 170%;
    
}

.pb1 img{
    position: relative;
    height: 250px;
}
.pb2{
    position: relative;
    width:250px;
    height: 250px;
    left:780px;
    bottom: 204%;
    
    
}

.pb2 img{
    position: relative;
    height: 250px;
}
.pb3{
    position: relative;
    width:250px;
    height: 250px;
    left:78%;
    bottom: 237%; 
    
    
}

.pb3 img{
    position: relative;
    height: 250px;
}

.frame3{
    width:110px;
    height: 105px;
    background-color:  #859034;
    position: relative;
    text-align: center; 
    bottom: 215%;
    left:2%;
}
.frame3 div{
    font-size: 29px;
    color: white;
}
.frame4{
    width:270px;
    height: 120px;
    background-color: #859034;
    position: relative;
    bottom: 207%;
   left: 2%;
   
}
.frame4 div{
    font-size: 18px;
}

 .frame5 img{
        width: 42%;
        height: 600px; 
        position: relative; 
        margin-top:90%;
        left: 800px; 
    }
    
.frame6 img{
    width: 30%;
    height: 50%; 
    left: 400px;
    position: relative;
    bottom:490px ;
 
}
 
button{
    width: 200px;
    height: 30px;
    background-color: black;
     color: white;
   border-radius:40px;
}

.button1{
    position: relative;
    left:10%;
   bottom: 45%;
}

.frame7{
    width:500px;
    height: 105px;
    position: relative;
    text-align: center; 
    bottom: 220%;
    left:33%;
}

.frame8{
    position: relative;
    width: 400px;
    height: 200px;
    top: 56px;
    background-color:  #859034;
}
.frame8 img{
    position: relative;
    left: 42%;
    
}

.frame8 h1{
    font-size: 30px;
}

.frame9{
    position: relative;
    width: 400px;
    height: 200px;
    background-color: #859034;
    left: 400px;
    top:300%;
    bottom:200px;
}
.frame9 img{
    position: relative;
    left: 43%;
}
.frame9 h1{
    font-size: 30px;
}
.frame10{
    position: relative;
    width: 400px;
    height: 200px;
    background-color: #859034;
    left: 800px;
    bottom:400px;
}
.frame10 img{
    position: relative;
    left: 43%;
}
.frame10 h1{
    font-size: 30px;
}


.frame11{
    position: relative;
    width: 400px;
    height: 200px;
    background-color: #859034;
    left: 82%;
    bottom:600px;
    
}
.frame11 img{
    position: relative;
    left: 43%;
}

.frame11 h1{
    font-size: 30px;
}


.about{
    position: relative;
    width: 400px;
    height: 100px;
    background-color: #859034;
    text-align: center;
    bottom: 300px;
}

.shop{
    position: relative;
    width: 400px;
    height: 100px;
    background-color: #859034;
    text-align: center;
    bottom: 400px;
    left: 38% ;
}

.address{
    position: relative;
    width: 400px;
    height: 100px;
    background-color:  #859034;
    text-align: center;
    bottom: 500px;
    left: 75% ;
}



body{
    background-color:  #859034;
}