h1{
    color:black;
    text-align: center;
}
body{
    background-color: rgb(84, 180, 180);
}
form{
    background-color: azure;
    width: 540px;
    padding: 30px;
    height: 550px;
    margin: 400px;
    
    
}
input[type="text"]{
    width: 210px;
    height: 20px;
    padding: 2px;
}
input[type="email"]{
    width: 530px;
    height: 20px;
    padding: 2px;
}
input[type="number"]{
    width: 530px;
    height: 20px;
    padding: 2px;
}

    textarea{
    width: 530px;
    height: 200px;
    padding: 2px;
}
button{
    margin-left: 45%;
    color: white;
    background-color: black;
    border-radius: 9px;
    width: 100px;
    height: 30px;
}