ul li {
    list-style: none;
    display: inline-block;
}

nav {
    text-decoration: none;
    height: 50px;
    color: white;
    background-color: black;
    padding: 5px;
    text-align: center;
   
    }
    a{
    text-decoration: none;
    color:white;
    background-color:black;
    border-radius: 10px;
    border: 2px solid gray;
    padding: 10px;
   
    }
.home {
    position: relative;
    width: auto;
    height: 400px;
    background-color:black;
}
.text {
    left: 200px;
    top: 150px;
    width: 250px;
    height: 200px;
    letter-spacing: 5px;
    font-size: large;
    background-color:black;
    color: white;
    position: absolute;
}
.image {
    position:absolute;
    left: 460px;
    top:100px;
}
img {
    width: 400px;
    height: 300px;
}
body{
    margin: 300px;
    background-image: linear-gradient(black,white,black,white,black);
}
