h1{
    color:solid black;
    text-align: center;
}
p{
    text-align: center;
}
body{
    
    background-color: white;
   
}
form{
    width: 440px;
    height: 380px;
    margin: 400px;
    background-color:white;
    padding: 80px;
    border:5px solid #595d60;
}
input[type="text"]{
    width:450px;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(188, 184, 184);
}
input[type="email"]{
    width:450px;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(188, 184, 184);
}
input[type="password"]{
    width:450px;
    height: 30px;
    border-radius: 4px;
    background-color: rgb(188, 184, 184);
}
button{
    color:white;
    background-color: blueviolet;
    width: 456px;
    height: 35px;
    border-radius: 5px;
}