#table{
    width:200px;
    height: 200px;
    
   
}
   th{
    color:blue;
    width:100px;
    height: 50px;
    border-radius: 5px;
   }
   td{
    color:red;
    width:100px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
   }
   tr:hover{
    background-color: green;
    
   }
   p::first-letter{
    color:blue;
   }
   p::first-line{
    color: red;
   }
   
