ul li{
    list-style: none;
    display: inline-block;
}

.frame1{
    display: flex;
    font-size: 15px;
    height: 100%;
    width: 100%;
    padding: 10px;
    
}
.frame2{
    position: relative;
    left:84%;
    font-size: 15px;
    bottom: 75px;

}
.frame2 button{
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(69, 111, 238);
    border: none;
}
.frame2 img{
    position: relative;
    top:25px;
}
.frame3{
    position: relative;
    top:100px;
    width:700px;
    text-align: center;
    left: 380px;
}
.frame3 input{
    width:700px;
    height: 40px;
}
.frame4{
    position: relative;
    width:500px;
    height: 100px;
    top:300px;
    left:150px;
}
.frame4 button{
    position: relative;
    width:200px;
    height: 50px;
    color: white;
    border: none;
    background-color:  rgb(69, 111, 238);
    left:190%;
    bottom: 80px;
}
.frame5{
    position: relative;
    width:90%;
    height: 300px;
    background-color: aliceblue;
    top:500px;
    left: 70px;

}

.frame5 img{
    position: relative;
    width: 200px;
        height: 200px;
        border-radius: 100%;
        bottom: 50px;
        left: 80px;
        top: 70px;     
}

.frame5 p{
    position: relative;
    left:380px;
    font-size: 20px;
    bottom: 90px;
}
.frame6{
    position: relative;
    top:700px;
    width: 400px;
    height: 150px;
    left: 70px;
}
.frame6 h4{
    color:rgb(31, 84, 183);
}
.frame6 p{
    color: rgb(95, 95, 152);
}
.frame7{
    position: relative;
    width:400px;
    height: 280px;
    padding: 10px;
    background-color:aliceblue;
    top: 500px;
    left: 400px;
    border-radius: 9px;
}
.frame7 h4{
    color:rgb(31, 84, 183);
}
.frame7 label{
    width: 100px;
    height: 40px;
    border-radius: 2px;
    background-color:rgb(129, 144, 144);
}
.frame7 button{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color:rgb(31, 84, 183) ;

}
.frame8{
    position: relative;
    width:400px;
    height: 280px;
    padding: 10px;
    background-color:aliceblue;
    top: 200px;
    left: 60%;
    border-radius: 9px;
}
.frame8 h4{
    color:rgb(31, 84, 183);
}
.frame8 label{
    width: 100px;
    height: 40px;
    border-radius: 2px;
    background-color:rgb(129, 144, 144);
}
.frame8 button{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color:rgb(31, 84, 183) ;

}
.frame9{
    position: relative;
    width:400px;
    height: 280px;
    padding: 10px;
    background-color:aliceblue;
    bottom: 98px;
    left: 93%;
    border-radius: 9px;
}
.frame9 h4{
    color:rgb(31, 84, 183);
}
.frame9 label{
    width: 100px;
    height: 40px;
    border-radius: 2px;
    background-color:rgb(129, 144, 144);
}
.frame9 button{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color:rgb(31, 84, 183) ;

}

.frame10{
    position: relative;
    width: 100%;
    height: 200px;
    padding: 20px;
    background-color:rgb(31, 84, 183) ;
}
.frame10 button{
    position: relative;
    color:rgb(31, 84, 183);
    background-color: white;
    width: 300px;
    height: 60px;
    border-radius: 8px;
    border: none;
    left: 900px;
    bottom: 100px;
}
.frame11{
    position: relative;
    width: 100%;
    height: 300px;
    padding: 10px;
    top: 100px;
}
.frame11 h1{
    position: relative;
    left: 100px;
}
.frame11 div{
    position: relative;
    width: 400px;
    height: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color:aliceblue;
    left: 150px;
}
.frame11 button{
    width:400px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: rgb(31, 84, 183);
    color: white;
}
.frame11 label{
    width: 100px;
    height: 40px;
    border-radius: 2px;
    background-color:rgb(129, 144, 144);
}

.frame12 div{
    position: relative;
    width: 400px;
    height: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color:aliceblue;
    left: 598px;
    bottom: 130px;
}
.frame12 button{
    width:400px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: rgb(31, 84, 183);
    color: white;
}
.frame12 label{
    width: 100px;
    height: 40px;
    border-radius: 2px;
    background-color:rgb(129, 144, 144);
}

.frame13 div{
    position: relative;
    width: 400px;
    height: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color:aliceblue;
    left: 71%;
    bottom: 400px;
}
.frame13 button{
    width:400px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: rgb(31, 84, 183);
    color: white;
}
.frame13 label{
    width: 100px;
    height: 40px;
    border-radius: 2px;
    background-color:rgb(129, 144, 144);
}

.frame14{
    position: relative;
    width:90%;
    height: 320px;
    background-color: aliceblue;
   bottom: 200px;
   left: 70px;
}
.frame14 img{
    position: relative;
    width: 200px;
        height: 200px;
        border-radius: 100%;
        bottom: 50px;
        left: 80px;
        top: 70px;     
}
.frame14 p{
    position: relative;
   left:300px;
   bottom: 100px;
}

.last{
    width: 100%;
    height: 220px;
    background-color: black;
    padding: 20px;
}


.about{
    position: relative;
    color: white;
    width: 200px;
    height: 200px;
    background-color: black;
}
.account{
    position: relative;
    color: white;
    width: 200px;
    height: 200px;
    background-color:black;
    left: 300px;
    bottom: 220px;
}
.social{
    position: relative;
    color: white;
    width: 200px;
    height: 200px;
    background-color: black;
    left: 600px;
    bottom: 440px;
}
.company{
    position: relative;
    color: white;
    width: 200px;
    height: 200px;
    background-color:black;
    left: 890px;
    bottom: 660px;
}
.family{
    position: relative;
    color: white;
    width: 250px;
    height: 200px;
    background-color: black;
    left: 82%;
    bottom: 880px;
}


