.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput {
    border: none;
    background-color: transparent;
}

.searchInput::placeholder {
    color: lightgray;
}

.carousel-inner {
    background-image: url(https://img.freepik.com/premium-photo/simple-black-brick-texture-background_925062-1052.jpg);
}

.image {
    position: relative;
    display: flex;
    left: 400px;
    flex-wrap: wrap;
}
.sliderbg1 {
    width: 580px;
    height: 580px;
    border-radius: 50%;
    position: absolute;
    left: 360px;
    background-color: rgb(15, 204, 141);

}
.sliderbg2 {
    width: 580px;
    height: 580px;
    border-radius: 50%;
    position: absolute;
    left: 360px;
    background-color: rgb(162, 33, 74);

}
.sliderbg3 {
    width: 580px;
    height: 580px;
    border-radius: 50%;
    position: absolute;
    left: 360px;
    background-color: rgb(38, 126, 140);

}
.sliderbg4 {
    width: 580px;
    height: 580px;
    border-radius: 50%;
    position: absolute;
    left: 360px;
    background-color: rgb(204, 15, 176);

}
.content {
    position: absolute;
    left: 70%;
    top: 200px;
}
.price {
    position: absolute;
    top: 430px;
    left: 450px;
    border: 2px solid white;
    padding: 10px;
}
.button {
    position: absolute;
    width: 100px;
    height: 50px;
    right: 40px;
    border-radius: 10px;
    background-image: linear-gradient(gray, black, gray);
    color: white;
}
